<app-developer
     [developer]="developerDetails">
</app-developer>

<section>
    <h2>Transmision d'un champ de saisi vers le component "developer"</h2>
    <form (ngSubmit)="saveDeveloper()">
        <label for="lastName">Nom :</label>
        <input id="lastName" type="text" name="lastName" [(ngModel)]="lastNameSave" placeholder="Nom">
        <label for="firstName">Prénom :</label>
        <input id="firstName" type="text" name="firstName" [(ngModel)]="firstNameSave" placeholder="Prénom">
        <label for="age">Age :</label>
        <input id="age" type="text" name="age" [(ngModel)]="ageSave" placeholder="Age">
        <label for="gender">Genre :</label>
        <input id="gender" type="text" name="gender" [(ngModel)]="genderSave" placeholder="Masculin">
        <label for="bio">Bio :</label>
        <input id="bio" type="text" name="bio" [(ngModel)]="bioSave"  placeholder="Biogarphie">
        
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</section>